@* Views/Shared/_Banner.cshtml *@
<div class="card">
    <img src="/image/product/qcao.jpg" class="card-img-top" alt="Banner quảng cáo" />
    <div class="card-body text-center">
        <p class="card-text">Ưu đãi đặc biệt - Giảm giá 50%</p>
    </div>
</div>
