@* Views/Shared/_Category.cshtml *@
<div class="card mb-3">
    <div class="card-header bg-primary text-white">
        Danh mục sản phẩm
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Áo dài</li>
        <li class="list-group-item">Áo đông</li>
        <li class="list-group-item">Túi xách</li>
        <li class="list-group-item">Đồng hồ</li>
        <li class="list-group-item">Ví da</li>
        <li class="list-group-item">Thắt lưng da</li>
        <li class="list-group-item">Tủ lạnh</li>
        <li class="list-group-item">Tivi</li>
        <li class="list-group-item">Quạt điện</li>
        <li class="list-group-item">Lò sưởi</li>
    </ul>
</div>
