@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h2>Chi tiet san pham</h2>
    <p>ID: @ViewBag.Product.Id</p>
    <p>Ten san pham: @ViewBag.Product.Name</p>
    <p>Gia: @ViewBag.Product.Price</p>
}
